[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-decouple = "*"
celery = "*"
gunicorn = "*"
redis = "*"
pillow = "*"
django-debug-toolbar = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
